<div  style="background-color:#FFA500" *ngIf="authService.IsAuthenticated()">
<p-panel>
    <p-header >
        <div class="ui-helper-clearfix" >
            <div class="row">
                
                <div class="col-sm-6">
                    <div class="p-2"> 
                        <span>
                            Welcome {{authService.currentUser !== undefined ? authService.currentUser.MyUserInfo.UserName : ''}}
                        </span>|
                        <span>
                            Role : {{authService.currentUser !== undefined ? authService.currentUser.MyUserInfo.UserRole : ''}}
                        </span>|
                        <span>
                            <a (click)="logout()" style="cursor: pointer;color: red !important">Logout</a>
                        </span>
                    </div>                   
                </div>

                <div class="col-sm-6">
                    <p-dropdown [style]="{width: '200px'}" [options]="businessUnits" [(ngModel)]="selectedBusinessUnit" optionLabel="BusinessName"  optionValue="BusinessId"></p-dropdown>
                </div>
            </div>

            
            
        </div>
    </p-header>

    <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
    
</p-panel>
</div>
