<!--<form novalidate (ngSubmit)="onSubmit(screenpopFrm)" [formGroup]="screenpopFrm">
  <div>
    <h1 md-dialog-title><span><md-icon>create</md-icon>{{modalTitle}}</span></h1>
  </div>
  <div style="padding-bottom:1px;background-color:#d8d8d8"></div>
  <div md-dialog-content class="md-dialog-container">
    <div class="frm-ctrl">
      <md-input-container>
        <input mdInput placeholder="display tag" formControlName="display_tag">
      </md-input-container>
      <div *ngIf="formErrors.display_tag" class="text-danger">
        {{ formErrors.display_tag }}
      </div>
    </div>
    <div class="frm-ctrl">
      <md-input-container>
        <input mdInput placeholder="screen pop header" formControlName="screen_pop_header">
      </md-input-container>
      <div *ngIf="formErrors.screen_pop_header" class="text-danger">
        {{ formErrors.screen_pop_header }}
      </div>
    </div>
    <div class="frm-ctrl">
      <md-input-container>
        <input mdInput placeholder="data source connection txt" formControlName="data_source_connection_txt">
      </md-input-container>
      <div *ngIf="formErrors.data_source_connection_txt" class="text-danger">
        {{ formErrors.data_source_connection_txt }}
      </div>
    </div>
    <div class="frm-ctrl">
      <md-input-container>
        <input mdInput placeholder="data source command txt" formControlName="data_source_command_txt">
      </md-input-container>
      <div *ngIf="formErrors.data_source_command_txt" class="text-danger">
        {{ formErrors.data_source_command_txt }}
      </div>
    </div>
    <div class="frm-ctrl">
      <md-input-container>
        <input mdInput placeholder="data source command input txt" formControlName="data_source_command_input_txt">
      </md-input-container>
      <div *ngIf="formErrors.data_source_command_input_txt" class="text-danger">
        {{ formErrors.data_source_command_input_txt }}
      </div>
    </div>
      <div class="frm-ctrl">
      <md-input-container>
        <input mdInput placeholder="URL display address txt" formControlName="URL_display_address_txt">
      </md-input-container>
      <div *ngIf="formErrors.URL_display_address_txt" class="text-danger">
        {{ formErrors.URL_display_address_txt }}
      </div>
    </div>
  </div>
  <md-dialog-actions class="md-dialog-footer" align="end">
    <button color="warn" type="button" md-raised-button (click)="dialogRef.close()">Cancel</button>&nbsp;
    <button type="submit" color="primary" [disabled]="screenpopFrm.invalid" md-raised-button>{{modalBtnTitle}}</button>
    </ md-dialog-actions>
</form>-->