<div class="container" style="width: 98%;">
    <div class="row">
        <img src="assets/Images/Optum_logo.png" class="col-md-2" style="text-align:center" />
        <h2 class="col-md-5">{{title}}</h2>
        <div class="col-md-5"></div>
    </div>  
    
    <router-outlet></router-outlet>  
</div>  
<!--<div class="container" >
    <nav-menu></nav-menu>
    <router-outlet></router-outlet> 
</div>-->
    <!--style="background-color: #D3D3D3;"-->
<!--<div class="container" style="background-color: #f0f0f0;">-->

 
<!--<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        CMS Password Reset        
    </div>
    <div class="panel-body">-->
  
<!--<div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Contact Center Services</p>
        </footer>
</div>-->

